.grid-product {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: minmax(100px, 60%) 1fr;
  grid-template-rows: 30px;
  grid-template-areas:
		"img post" 
		"img info"
    "details user";
  
  width: 100%;
  margin: 40px 0;
}

.img {
  grid-area: img;
  height: 430px;
  padding-right: 10px;
}

.info{
  grid-area: info;
  padding-left: 25px;
}

.details {
  grid-area: details;
  padding: 20px 0;
}

.users-products {
  grid-area: user;
  margin-top: 15px;
}

/* dados publicação */

#post{
  grid-area: post;
  padding-left: 25px;
  font-size: 12px;
  font-weight: 300;
  display: block;
}

#post b {
  font-weight: bold;
}

.info p {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
  padding: 10px 0;
  font-size: 14px;
  color: #0E346A;
  font-weight: 500;
}

.info h1 {
  font-weight: 600;
  color: #444;
  font-size: 26px;
  display: block;
  margin: 0;
}

.info .flex {
  align-items: center;
  margin: 50px 0 ;
  justify-content: flex-start;
}

.info .price{
  width: 50%;
}

.info h2, .info, h5 {
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: 0 !important;
}

.info h5 {
  text-decoration-line: line-through;
  font-weight: 600;
  font-size: 1em;
  color: #5a5a5a;
}

.info h2 {
  font-size: 2em;
  color: #0c3a7b;
  font-weight: 900;
}


/* Buttons Send Message & Send E-mail */
.buttons {
  display: flex;
  flex-wrap: wrap;
}

.buttons .btn-product{
  border: none;
  color: #fff;

  padding: 12px 20px;
  border-radius: 5px;
  font-family: 'Montserrat';
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-right: 10px;
  width: calc(50% - 10px);
}

.buttons .wpp{
  background: #449408;

  display: flex;
  align-items: center;
  transition: background 400ms ease;
}

.buttons .wpp:hover{
  background: #51AB0E;
}

.buttons .email {
  background: #11468D;
  display: flex;
  align-items: center;
  transition: background 400ms ease;
}

.buttons .email:hover{
  background: #1253a8;
}


/* Correção icons */
.buttons .ico, .wpp-ico path {
  margin-right: 12px;
  color: #fff;
}

.wpp-ico {
  margin-right: 12px;
  font-size: 1.5em;
}


@media (max-width: 1200px) {

  .buttons .wpp, .buttons .email {
    width: 100%;
    /* margin-right: 0; */
    margin-bottom: 10px;

  }
}


@media(max-width: 991px){

  #post{
    text-align: center;
  }

  .grid-product {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:  "post" 
                          "img" 
                          "info"
                          "details" 
                          "user";
  }

  .info, .details, .users-products {
    margin: 30px 0;
    padding: 15px 0;
  }

  .img {
    margin: 15px 0;
  }

  .buttons .wpp, .buttons .email {
    width: 200px;
    margin-bottom: 10px;
  }
}

@media (max-width: 467px) {

  .buttons .wpp, .buttons .email {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;

  }
}