.product-row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.product-column, .c2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.inputImages {
  justify-content: space-between;
}

.image {
  flex-basis: 24%;
  height: 150px;
  background: #C4C4C4;
  text-align: center;
  padding-top: 65px;
  font-weight: bold;
  cursor: pointer;
}

.group {
  display: block;
  text-align: center;
  width: 50px;
  padding: 0.429em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: #a6a6a6 !important;
  border-radius: 3px 0px 0px 3px!important;
}

span.group {
  font-size: 14px;
  padding: 0.429em;
}

.product-column .p-inputtext {
  border-radius: 0px 3px 3px 0px!important;
  padding-left: 12px;
  width: 120px;
}

.product-column .text-right {
  text-align: right !important;
  padding-right: 12px;
}

.product-column .p-inputtext::before {
  padding-right: 12px;
}

.disable {
  opacity: 0.5;
}

.column {
  margin-right: 20px;
}

.preco{
  width: 125px;
}

/* check */

.product-column p {
  margin: auto 0;
}

/*produto contition */
.p-contition {
  width: 100%;
}

.row .btn {
  margin-right: 10px;
}


@media (max-width: 1101px) {
  .column,  #precoFixo{
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .input {
    width: calc(100% - 50px);
    margin: auto;
  }

  .product-column .checked {
    margin-top: 15px;
  }

  .product-column p {
    padding-top: 0.360em;
    margin: auto 12px;
  }

}

@media (max-width: 991px) {
  .image {
    flex-basis: 49%;
    margin: 5px 0;
  }
}

@media (max-width: 419px) {
  .image {
    flex-basis: 100%;
    height: 180px;
    margin: 5px 0;
    padding-top: 75px;
  }
}