.card {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px !important;
}

.card .title, .card .content {
  padding: 30px;
}

.card .title {
  background: #F5F6F8;
  border-bottom: 0.8px solid #DDDDDD;
  border-radius: 10px 10px 0px 0px;

}

.card .title h2 {
  margin: 0;
  font-size: 26px;
  font-weight: bold;
  color: #555;
  font-family: 'Roboto', sans-serif;
}