.Categorias {
    background: #fff;
    height: 400px;
}

.Categorias .categorias-title {
    display: flex;
    align-items: baseline;
}

.Categorias .categorias-title h1 {
    color: #555;
}

.Categorias .categorias-title span {
    margin-left: 20px;
    color: #3C649C;
}
