.conteudo-footer {
  background-color: #F2F2F2;
  padding: 50px 0 20px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  display: inline-block;
  
  margin-bottom: 30px;
}

.footer-links li > a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
}

/* Icones do FontAwesome */
.svg-inline--fa > path {
  color: #555;
}

/* Transição suave de cor nos links */
.footer-links li > a,
.svg-inline--fa > path {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
} 

.footer-links li > a:hover,
.svg-inline--fa:hover > path {
  color: #65AD2F;
}

#navegacao li {
  margin-right: 60px;
}