.form-group .ico {
  color: #3C649C;
  font-size: 16px;
  margin-left: 5px;
  background: none;
  border: none;
  padding: 5px;
}

.form-group .ico span {
  display: inline-block;
  border-radius: 3px;
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 300px;
  line-height: 21px;
  padding: 7px 10px;
  background: #282828;
}


.form-group .subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  width: 100%;
  color: #767676;
}

#disable {
  display: none;
}

.Tooltip {
  display: flex;
  top: 0;
  margin-left: 20px;
  position: absolute;
  z-index: 1;
}

#arrow {
    margin-top: 7px;
    display: inline-block;
    vertical-align: auto;
    width: 0; 
    height: 0; 
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid #282828;   
}