.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg-menu {
    width: 100%;
    background-color: #0C3A7B;;
}

.Header img {
    width: 220px;
}