.ProdutoRecente {
    display: flex;
    background: #fff;
    margin-top: 14px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    border-radius: 4px;
    position: relative;
}

.ProdutoRecente::after {
    content: '';
    height: 100%;
    width: 5px;
    background: #65AD2F;
    position: absolute;
    right: 0;
    border-radius: 4px;
}

.ProdutoRecente:last-child {
    margin-bottom: 45px;
}

.ProdutoRecente img {
    width: 160px;
    height: 160px;
    padding: 13px 0 13px 13px;
}

.ProdutoRecente .title {
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.ProdutoRecente .title strong.categoria {
    color: #65AD2F;
}

.ProdutoRecente .title strong.categoria span {
    font-weight: normal;
}

.ProdutoRecente .title p.descricao {
    margin-top: 10px;
}

.ProdutoRecente .title strong.publicado {
    color: #AAA;
    font-size: 13px;
    margin-top: 20px;
}

.ProdutoRecente .title strong.publicado span {
    color: #BBB;
    font-weight: normal;
}

.ProdutoRecente .title p.avaliacao {
    margin-top: 10px;
    font-size: 12px;
}